/* Estilização do texto e imagem na landing page */
#imagemTexto{
  div{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    #imagem{
      img{
        width: 35vw;
      }
    }
    #texto{
      display: flex;
      justify-content: center;
      align-items: center;
      h1{
        width: 25vw;
        font-size: 4.0vw;
        span{
          color: #358EBA;
        }
      }
    }
  }
}
@media(max-width: 900px){
  #hamburguer{
    display: flex;
  }
  #nav{
    ul{
      .links{
        
          display: none;
        
      }
    }
  }
}
